﻿
@{
    Layout = null;
}

<hr />
<div class="row">
    <div class="col-md-7"><a class="btn btn-default btn-cancel" href="@Url.Action("Index")"><i class="fa fa-times"></i> Abbrechen</a></div>
    <div class="col-md-1">  <button type="submit" class="btn btn-default"><i class="fa fa-plus"></i> Erstellen</button></div>
</div>