﻿
@{
    Layout = null;
}


<div class="row">
    <div class="col-md-7"><a class="btn btn-default btn-cancel" href="@Url.Action("Index")"><i class="fa fa-times"></i> Abbrechen</a></div>
    @if (ViewData["Customer"] != null)
    {
        <div class="col-md-1"><a class="btn btn-default" href="@Url.Action("VehicleIndex")"><i class="fa fa-truck"></i> Fahrzeuge</a></div>
        @*<div class="col-md-1"><button type="button" url="@ViewData["Customer"]+'VehicleIndex'" class="btn btn-default">Fahrzeuge</button></div>*@
    }
    <div class="col-md-1">  <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o"></i> Speichern </button></div>

    @if (ViewData["SaveAndReport"] != null)
    {
        <div class="col-md-2"><button id="saveAndPrint" onclick="sAndPrint(this)" type="button" url="" class="btn btn-default"><i class="fa fa-file-text-o"></i> <i class="fa fa-floppy-o"></i> Speichern und Drucken</button></div>
    }

    @if (ViewData["Report"] != null)
    {
        <div class="col-md-1"><button id="getReportBtn" type="button" url="@ViewData["Report"]" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Anzeigen</button></div>
    }
    @if (ViewData["ReportPrint"] != null)
    {
        <div class="col-md-1"><button id="getReportBtnPrint" type="button" url="@ViewData["ReportPrint"]" class="getReportBtnPrint btn btn-default"><i class="fa fa-file-text-o"></i> Drucken</button></div>
    }
    @if (ViewData["ReportSolas"] != null)
    {
        <div class="col-md-1"><button id="getReportBtn" type="button" url="@ViewData["ReportSolas"]" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Report Solas</button></div>
    }
    @if (ViewData["ReportTakeover"] != null)
    {
        <div class="col-md-1"><button id="getReportBtn" type="button" url="@ViewData["ReportTakeover"]" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Übernahmeschein</button></div>
    }

    @if (ViewData["ConcreteComposition"] != null)
    {
        <div class="col-md-2"><button id="getReportBtn" type="button" url="@ViewData["ConcreteComposition"]" class="getReportBtn btn btn-default"><i class="fa fa-file-text-o"></i> Betonzusammensetzung</button></div>
    }
    @if (ViewData["Copy"] != null)
    {
        <div class="col-md-1"><button id="copyModal" type="button" url="@ViewData["Copy"]" class="copyBtn btn btn-default"><i class="fa fa-files-o"></i> Kopieren</button></div>
    }
    @if (ViewData["Preview"] != null)
    {
        <div class="col-md-1"><button id="copyModal" type="button" url="@ViewData["Preview"]" class="copyBtn btn btn-default"><i class="fa fa-files-o"></i>Vorschau</button></div>
    }

</div>
<hr />