﻿@model List<PCMS.Areas.Admin.Models.aspNetRoles>
    @{
        ViewBag.Title = "Rollenmanagement";
    }
<div style="width:200px">
    <select style="width:200px" id="roleSelect" multiple="multiple">
        @foreach (var i in Model)
        {
            <option selected="selected">@i.Name</option>
        }
    </select>
</div>

<script type="text/javascript" >
    $(document).ready(function () {
        var $eventSelect = $("#roleSelect").select2({
            tags: true
        })
        //$eventSelect.on("select2:select", createRole(this));
        $eventSelect.on("select2:select", function (e) { createRole(e); });
        $eventSelect.on("select2:unselect", function (e) { deleteRole(e); });
        
    })
    function createRole(e) {
        var roleName = e.params.data.text;
        //var data["username"] = username;
        $.ajax({            
            url: '@Url.Action("CreateRole","aspNetRoles", new { area="Admin" })',
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: { roleName: roleName },
            success: function (data) {
                
            }
        });
    }
    function deleteRole(e) {
        var roleName = e.params.data.text;
        //var data["username"] = username;
        $.ajax({
            url: '@Url.Action("DeleteRole", "aspNetRoles", new { area = "Admin" })',
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: { roleName: roleName },
            success: function (data) {

            }
        });
    }


    



</script>