﻿@model PagedList.IPagedList<PCMS.Areas.RecipeM.Models.md_recipe_RecipeM>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Mischrezepte Mörtel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_recipe_Recipe">
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table url="@Url.Action("choosRecipe","md_recipe_RecipeM", new { area = "RecipeM" } )" class="table table-hover table-condensed" tablename="md_recipe_Recipe" editUrl="@Url.Action("Edit", "md_recipe_RecipeM", new { area = "recipeM" })" deleteUrl="@Url.Action("Delete", "md_recipe_RecipeM", new { area = "recipeM" })" detailsUrl="@Url.Action("Details", "md_recipe_RecipeM", new { area = "recipeM" })">
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Number" style="">
                        @Html.DisplayNameFor(model => model[0].Number)
                    </th>
                    <th>

                    </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="Id" tableName="md_recipe_Recipe">
                    </th>
                    <th style="" class="head-filter" columnName="Description" tableName="md_recipe_Recipe">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" value="@ViewBag.Description" />
                    </th>
                    <th style="" class="head-filter" columnName="Number" tableName="md_recipe_Recipe">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDownModal(event)" type="text" placeholder="Suchen" value="@ViewBag.Number" />
                    </th>                                
                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr ondblclick="getRecipeById(this,'recipe')" id="@item.Id">
                        <td class="column-value-modal" isKey="true" columnName="Id" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value-modal" isKey="false" columnName="Description" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-value-modal" isKey="false" columnName="Number" style="" tableName="md_recipe_Recipe">
                            @Html.DisplayFor(modelItem => item.Number)
                        </td>
 
                        <td>
                            <button onclick="getRecipeById(this,'recipe')">hinzufügen</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
