﻿@model PCMS.Areas.Order.Models.md_order_InvoiceHeader

@{
    ViewBag.Title = "Rechnung bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")
    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@
    <span class="text-danger">@Html.ViewBag.Error</span>
    <div class="row">
        <div style="display:none"><input name="PositionsCount" id="PositionsCount" value="@ViewBag.PositionsCount" /></div>
        <div class="col-md-1">
            <div class="control-label">
                @Html.LabelFor(model => model.InvoiceNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.InvoiceNumber, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.InvoiceNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.ServiceDate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.ServiceDate, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.ServiceDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.InvoiceDate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.InvoiceDate, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.InvoiceDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.Settled, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="form-group">
                @Html.CheckBoxFor(model => model.Settled, new { htmlAttributes = new { @class = "checkbox" } })
                @Html.ValidationMessageFor(model => model.Settled, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-7">
            <div class="editor-field">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter", @style = "width:70%" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-8">
            <div class="editor-field">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter", @style = "width:61%" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div>
        <div class="row">
            <hr />
        </div>
        <div class="row">
            <div class=" col-md-2">
                <h3>Kundendaten:</h3>
                <button class="btn btn-default" onclick="openCustomer('@Url.Action("ChooseCustomer","md_order_Invoicing", new { area = "Order" })', Title = 'Kunde auswählen')" title="Kunden suchen" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>&nbsp;
            </div>
        </div>
        <div class="row">
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerDescription, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-5">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerDescription, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerDescription, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerNumber, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerNumberEDV, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerNumberEDV, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerNumberEDV, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerStreet, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerStreet, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerStreet, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerZipCode, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerZipCode, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerZipCode, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerCity, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerCity, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerCity, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerState, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerState, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerState, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.CustomerCountry, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.CustomerCountry, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter" } })
                @Html.ValidationMessageFor(model => model.CustomerCountry, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <br /> <hr />
    </div>
    <div class="row">
        <div class=" col-md-2">
            <h3>Positionen:</h3>
            <br />
            <button class="btn btn-default" onclick="AddFields()" title="Zeilen hinzufügen" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>&nbsp;
            <button class="btn btn-default" onclick="DelFields()" title="Zeilen löschen" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>&nbsp;
            <button class="btn btn-default" onclick="CreateFromDelivery()" title="Aus Lieferschein hinzufügen" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
        </div>
    </div>
    <div>
        <br />
    </div>
    <div class="row">
        <div class="col-md-1 label-field">
            Position:&nbsp;
        </div>
        <div class="col-md-1" id="divs0"><div class="label-field" id="field0">Artikelnummer:</div></div>
        <div class="col-xs-2" id="divs0"><div class="label-field" id="field0">Produkt/Artikel:</div></div>
        <div class="col-xs-1" id="divs0"><div class="label-field" id="field0">Menge:</div></div>
        <div class="col-xs-1" id="divs0"><div class="label-field" id="field0">Einheit:</div></div>
        <div class="col-xs-1" id="divs0"><div class="label-field" id="field0">Preis:</div></div>
        <div class="col-xs-1" id="divs0"><div class="label-field" id="field0">MwSt in %:</div></div>
        <div class="col-xs-1" id="divs0"><div class="label-field" id="field0">Einzelrabatt in %:</div></div>
        <div class="col-xs-1" id="divs0"><div class="label-field" id="field0">Summe:</div></div>
        <div><br /><br /></div>
    </div>

    <div><br /></div>
    <div class="row" id="Config7">
        @ViewBag.field
    </div>
    <div class="row">
        <hr />
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.Label("Gesamtsumme:")
            </div>
        </div>
        <div class="col-md-1 col-md-offset-6">
            <div class="editor-label">
                @Html.Label("Gesamtrabatt:")
            </div>
        </div>
        <div class="col-md-offset-8">
            <div class="editor-field">
                <div class="col-md-3"><input type="text" class="form-control" placeholder="Rabatt" id="TotalDiscount" name="TotalDiscount" onblur="Discount()" /></div>
                <div class="col-md-3"><input type="text" class="form-control" placeholder="Summe" readonly="readonly" id="TotalSum" value="0" name="TotalSum" /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <br /> <hr />
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.PaymentTerms, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="editor-label">
                @Html.EditorFor(model => model.PaymentTerms, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter", @style = "width:61%" } })
                @Html.ValidationMessageFor(model => model.PaymentTerms, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.FinalDescription, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="editor-label">
                @Html.EditorFor(model => model.FinalDescription, new { htmlAttributes = new { @class = "form-control uppercase notOnEnter", @style = "width:61%" } })
                @Html.ValidationMessageFor(model => model.FinalDescription, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <br />
    </div>


    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
    <script>
        var counter = 0;
        function AddFields() {
            var header = counter + 1;
            var newTd = ''
                + '<div class="row" Id="rows' + counter + '">'
                + '<div class="col-md-1 label-field" Id="header' + counter + '">Pos.: ' + header + '.&nbsp; <button class="btn btn-default" onclick="SelectArticle('+ counter + ')" title="Artikel hinzufügen" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button></div>'
                + '<input type="hidden" name="Date' + counter + '" id="Date' + counter + '"/>'
                + '<input type="text" name="OrderNo' + counter + '" id="OrderNo' + counter + '"/>'
                + '<input type="hidden" name="MaterialId' + counter + '" id="MaterialId' + counter + '"/>'
                + '<input type="hidden" name="ArticleNo' + counter + '" id="ArticleNo' + counter + '"/>'
                + '<div class="col-md-1" Id="divs' + counter + '"><div class="label-field" Id="field' + counter + '"><input type="text" class="form-control" placeholder="Artikelnr.:" name="ArticleNumber' + counter + '" id="ArticleNumber' + counter + '"/></div></div>'
                + '<div class="col-xs-2" Id="divs' + counter + '"><div class="label-field" Id="field' + counter + '"><input type="text" class="form-control" style="width:100%" placeholder="Produkt/Service" name="ArticleDescription' + counter + '" id="ArticleDescription' + counter + '"/></div></div>'
                + '<div class="col-xs-1" Id="divs' + counter + '"><div class="label-field" Id="field' + counter + '"><input type="text" class="form-control" value="0" placeholder="Menge" onblur="calc(' + counter + ')" name="Quantity' + counter + '" id="Quantity' + counter + '"/></div></div>'
                + '<div class="col-xs-1" Id="divs' + counter + '"><div class="label-field" Id="field' + counter + '"><input type="text" class="form-control" placeholder="Einheit" name="Unit' + counter + '" id="Unit' + counter + '"/></div></div>'
                + '<div class="col-xs-1" Id="divs' + counter + '"><div class="label-field "Id="field' + counter + '"><input type="text" class="form-control" value="0" placeholder="Preis je" onblur="calc(' + counter + ')" name="Price' + counter + '" id="Price' + counter + '"/></div></div>'
                + '<div class="col-xs-1" Id="divs' + counter + '"><div class="label-field "Id="field' + counter + '"><input type="text" class="form-control" value="0" placeholder="Mwst %" onblur="calc(' + counter + ')" name="Tax' + counter + '" id="Tax' + counter + '"/></div></div>'
                + '<div class="col-xs-1" Id="divs' + counter + '"><div class="label-field "Id="field' + counter + '"><input type="text" class="form-control" value="0" placeholder="Rabatt %" onblur="calc(' + counter + ')" name="Discount' + counter + '" id="Discount' + counter + '"/></div></div>'
                + '<div class="col-xs-1" Id="divs' + counter + '"><div class="label-field "Id="field' + counter + '"><input type="text" class="form-control" placeholder="Summe" value="0" name="Sum' + counter + '" id="Sum' + counter + '" readonly="readonly"/></div></div>'
                + '</div>'

                + '<br/ Id="break' + counter + '"></div>'
            counter++;
            $(newTd).insertBefore("#Config7");

            $("#PositionsCount").val(counter);
        }

        function DelFields() {
            if (counter != 1) {
                counter--;
                $("#RowHeader").remove();
                $("#rh").remove();
                $("#break01").remove();
                $("#Hiddenfields" + counter).remove();
                $("#rows" + counter).remove();
                $("#header" + counter).remove();
                $("#field" + counter).remove();
                $("#divs" + counter).remove();
                $("#break" + counter).remove();
            }
            $("#PositionsCount").val(counter);
            totalSum();
        }

        function SelectArticle(field) {
            openMaterial('@Url.Action("ChooseArticle","md_order_Invoicing", new { area = "Order" })?field=' + field, Title = 'Artikel auswählen')
        }

        function calc(id) {

            var quantity = $("#Quantity" + id).val();
            var price = $("#Price" + id).val().replace(",", ".");
            var tax =  $("#Tax" + id).val().replace(",",".").replace("%","");
            var discount = $("#Discount" + id).val().replace(",", ".").replace("%", "");
            var sum = quantity * price;
            if (tax != "")
            {
                tax = (100 + parseFloat(tax)) / 100;
                sum = sum * tax;
            }
            if (discount != "")
            {
                discount = (100 + parseFloat(discount)) / 100;
                sum = sum / discount;
            }

            $("#Sum" + id).val(sum.toFixed(2));
            totalSum();
        }

        function totalSum() {
            var totalSum = 0;
            for (var i = 0; i < counter; i++) {
                var test = parseFloat($("#Sum" + i).val().replace(",", "."));
                if (test != "") {
                    totalSum += test;
                }

            }
            $("#TotalSum").val(totalSum.toFixed(2));
        }

        function Discount() {
            var TotSum = parseFloat($("#TotalSum").val());
            var TotDiscount = parseFloat($("#TotalDiscount").val().replace("%",""));
            var sum = TotSum / ((100 + TotDiscount) / 100);
            $("#TotalSum").val(sum.toFixed(2));
        }

        function CreateFromDelivery() {
            var CustomerNumber = $("#CustomerNumber").val();
        }

        $(document).ready(function () {
            $("#PositionsCount").val(counter);

            var quantity = @Html.Raw(Json.Encode(ViewBag.Quantity));
            var price = @Html.Raw(Json.Encode(ViewBag.Price));
            var ArtNo = @Html.Raw(Json.Encode(ViewBag.ArtNo));
            var MatNo = @Html.Raw(Json.Encode(ViewBag.MatNo));
            var ArtDesc = @Html.Raw(Json.Encode(ViewBag.ArtDesc));
            var Unit = @Html.Raw(Json.Encode(ViewBag.Unit));
            var Tax = @Html.Raw(Json.Encode(ViewBag.Tax));
            var Discount = @Html.Raw(Json.Encode(ViewBag.Discount));
            var OrderNo = @Html.Raw(Json.Encode(ViewBag.OrderNo));
            var Date = @Html.Raw(Json.Encode(ViewBag.Date));

            for (var i = 0; i < @ViewBag.rows; i++) {
                AddFields();
                $("#Date" + i).val(Date[i]);
                $("#OrderNo" + i).val(OrderNo[i]);
                $("#Price" + i).val(price[i]);
                $("#ArticleNumber" + i).val(ArtNo[i]);
                if (OrderNo[i] != "")
                {
                    $("#Quantity" + i).val(quantity[i] / 1000);
                }
                else
                {
                    $("#Quantity" + i).val(quantity[i]);
                }

                $("#MatNo" + i).val(MatNo[i]);
                $("#ArticleDescription" + i).val(ArtDesc[i]);
                $("#Unit" + i).val(Unit[i]);
                $("#Tax" + i).val(Tax[i]);
                $("#Discount" + i).val(Discount[i]);
                calc(i);
            }
        })
    </script>
}

