﻿@model PagedList.IPagedList<PCMS.Areas.Order.Models.md_order_InvoiceHeader>
@using PagedList.Mvc
<div class="tableContent" tablename="md_order_InvoiceHeader">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    @{
        ViewBag.Title = "Rechnungen Übersicht";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <a class="btn btn-default" href="@Url.Action("Index","md_order_Invoicing", new { area = "Order" })"><i class="fa fa-refresh"></i> Neu laden</a>&nbsp;
    <a class="btn btn-default" href="@Url.Action("Create","md_order_Invoicing", new { area = "Order" })"><i class="fa fa-plus"></i> Rechnung erstellen</a>&nbsp;
    @*<a class="btn btn-default" href="@Url.Action("ReportDetailPrint","md_order_Invoicing", new { area = "Order" })"><i class="fa fa-refresh"></i> Report</a>&nbsp;*@
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div class="form-inline topFilterContainer" columnName="InvoiceDate"> Datum: <input class="date-from top-date-filter-value form-control" onchange="DateFilterChange()" type="date" style="width:20%" value="@ViewBag.ProbTakingDatetimeFrom" /></div>
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_order_InvoiceHeader" editUrl="@Url.Action("Edit", "md_order_Invoicing", new { area = "order" })" deleteUrl="@Url.Action("Delete", "md_order_Invoicing", new { area = "order" })" printUrl="@Url.Action("ReportDetailPrint", "md_order_InvoiceHeader", new { area = "order" })">
            <thead>
                <tr class="caption">
                    <th onclick="sort(this)" editable="true" colname="InvoiceNo" style="">@Html.DisplayNameFor(model => model[0].InvoiceNumber)</th>
                    <th onclick="sort(this)" editable="true" colname="Customer" style="">@Html.DisplayNameFor(model => model[0].CustomerDescription)</th>
                    <th onclick="sort(this)" editable="true" colname="InvoiceDate" style="">@Html.DisplayNameFor(model => model[0].InvoiceDate)</th>
                    <th onclick="sort(this)" editable="true" colname="Settled" style="">@Html.DisplayNameFor(model => model[0].Settled)</th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnname="InvoiceNo" tablename="md_order_InvoiceHeader"><input value="@ViewBag.InvoiceNo" style="width:20%" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                    <th style="" class="head-filter" columnname="Customer" tablename="md_order_InvoiceHeader"><input value="@ViewBag.Customer" class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" /></th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        <td class="column-value4" columnname="InvoiceNo" style="" tablename="md_order_InvoiceHeader">@Html.DisplayFor(modelItem => item.InvoiceNumber)</td>
                        <td class="column-value4" columnname="Customer" style="" tablename="md_order_InvoiceHeader">@Html.DisplayFor(modelItem => item.CustomerDescription)</td>
                        <td class="column-value4" columnname="InvoiceDate" style="" tablename="md_order_InvoiceHeader">@Html.DisplayFor(modelItem => item.InvoiceDate)</td>
                        <td class="column-value4" columnname="Settled" style="" tablename="md_order_InvoiceHeader">@Html.DisplayFor(modelItem => item.Settled)</td>
                    </tr>
                }


            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>
