﻿@model IEnumerable<PCMS.Areas.LIMS.Controllers.conformityModel>

@{
    ViewBag.Title = "Konfirmitätsnachweis";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<style>
    .testDetailsTable th{
        text-align:center;
        vertical-align: top;
    }
    .testDetailsTable td{
        text-align:center;
    }
</style>
<div id="konfMainContent">
    <div style="padding-bottom: 12px;" class="form-inline topFilterContainer" columnName="ProbTakingDatetime"> vom: <input class="date-from top-date-filter-value form-control" onchange="topDateFilterChangeR()" type="date" value="@ViewBag.from" /> bis: <input class="date-to top-date-filter-value form-control" onchange="topDateFilterChangeR()" type="date" value="@ViewBag.to" /></div>
    <button id="getReportBtn" type="button" url="/LIMS/lims_concrete_conformity/Index" onclick="reportDetailsKonf(this)" class="getReportBtnKonf btn btn-default"><i class="fa fa-file-text-o"></i> Report</button>
    <table class="table" id="familyTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Static)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Conform)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RefSortDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductionWeek)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProduktionDays)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProbsToDo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProbsDone)
                </th>
                @*<th>
                    @Html.DisplayNameFor(model => model.StrengthAfter2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter7)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter28)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter56)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StrengthAfter90)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsDeleted)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TimeTestRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AmountTestRequired)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InitialProduction)
                </th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr famId="@item.FamId" onclick="loadDetailsFamilySorts(@item.FamId)">
                    <td>
                        <i class="fa fa-plus-square-o"></i>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Static)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Conform)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RefSortDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductionWeek)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProduktionDays)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProbsToDo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProbsDone)
                    </td>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter2)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter7)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter28)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StrengthAfter56)
                    </td>
                    <td>s
                        @Html.DisplayFor(modelItem => item.StrengthAfter90)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsActive)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsDeleted)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeTestRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountTestRequired)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InitialProduction)
                    </td>*@
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>*@
                </tr>
            }
        </tbody>
    </table>

    <script type="text/javascript">
        function topDateFilterChangeR(url) {

            var from = $(".date-from").val();
            var to = $(".date-to").val();
            if (from != "" && to == "") {
                $(".date-to").val(from);
            }
            if (from == "" && to != "") {
                $(".date-from").val(to);
            }
            var _url = "./Index";
            if (url) {
                _url = url;
            }
            $.ajax({

                url: _url,
                type: "GET",
                dataType: "text",
                global: true,
                data: { from: $(".date-from").val(), to: $(".date-to").val() },
                //contentType: 'application/json',
                success: function (data) {
                    $("#konfMainContent").replaceWith(data);
                }
            });
        }
        function loadDetailsFamilySorts(famId) {
            if($("tr[famId='" + famId + "']").hasClass("open"))
            {
                $(".open"+famId).remove();
                $("tr[famId='" + famId + "']").removeClass("open");
                $("tr[famId='" + famId + "'] .fa").addClass("fa-plus-square-o");
                $("tr[famId='" + famId + "'] .fa").removeClass("fa-minus-square-o");
                return;
            }

            $("tr[famId='" + famId + "']").addClass("open");
            $("tr[famId='" + famId + "'] .fa").removeClass("fa-plus-square-o");
            $("tr[famId='" + famId + "'] .fa").addClass("fa-minus-square-o");
            var _url = "@Url.Action("DetailsFamilySorts", "lims_concrete_conformity", new { Area = "LIMS" })";
            var colCoubt = $("tr[famId='" + famId + "'] td").length;

            var width = $("#familyTable").width();
            $.ajax({
                url: _url,
                type: "GET",
                dataType: "text",
                global: true,
                data: { from: $(".date-from").val(), to: $(".date-to").val(), famId : famId },
                //contentType: 'application/json',
                success: function (data) {
                    $("tr[famId='" + famId + "']").after('<tr class="open'+famId+'"><td style="padding-left: 40px;" colspan="' + colCoubt + '">' + data + '</td></tr>');

                }
            });
            _url = "@Url.Action("DetailsTests", "lims_concrete_conformity", new { Area = "LIMS" })";
            $.ajax({
                url: _url,
                type: "GET",
                dataType: "text",
                global: true,
                data: { from: $(".date-from").val(), to: $(".date-to").val(), famId : famId },
                //contentType: 'application/json',
                success: function (data) {
                    $("tr[famId='" + famId + "']").after('<tr class="open'+famId+'"><td style="padding-left: 40px;" colspan="' + colCoubt + '">' + data + '</td></tr>');
                    $(".familyDetailsDiv").css("width",(width - 40) + "px");
                }
            });
        }
        function showOrHide(e){
            if($(e).closest(".familyDetailsDiv").find(".fa").hasClass("fa-minus-square-o")){
                $(e).closest(".familyDetailsDiv").find(".fa").addClass("fa-plus-square-o");
                $(e).closest(".familyDetailsDiv").find(".fa").removeClass("fa-minus-square-o");
            }
            else{
                $(e).closest(".familyDetailsDiv").find(".fa").removeClass("fa-plus-square-o");
                $(e).closest(".familyDetailsDiv").find(".fa").addClass("fa-minus-square-o");
            }
            $(e).closest(".familyDetailsDiv").find(".familyDetailsTable").toggle();
            $(e).closest(".familyDetailsDiv").find(".testDetailsTable").toggle();
        }
        function krShwoHide(e){
            var i = $(e).attr("kr");
            $(e).closest("table").find(".kr" + i + "Val").toggle();
            //$(".kr" + i + "Val").toggle();
            if(i==1){
                $(e).closest("table").find("th[kr=1]").attr("colspan",$(e).closest("table").find("thead .kr1Val:visible").length + 1);
                //$("th[kr=1]").attr("colspan", $(e).closest("table").find("thead .kr1Val:visible").length + 1);
            }
            if(i==2){
                $(e).closest("table").find("th[kr='2']").attr("colspan",$(e).closest("table").find("thead .kr2Val:visible").length + 1);
                //$("th[kr='2']").attr("colspan", $(e).closest("table").find("thead .kr2Val:visible").length + 1);
            }
            if(i==3){
                $(e).closest("table").find("th[kr='3']").attr("colspan",$(e).closest("table").find("thead .kr3Val:visible").length + 1);
                //$("th[kr='3']").attr("colspan", $(e).closest("table").find("thead .kr3Val:visible").length + 1);
            }
        }
        function reportDetailsKonf(e) {
            var family = "";
            var test = "";
            var kr1 = "";
            var kr2 = "";
            var kr3 = "";
            $("#familyTable tbody tr").each(function (i,u) {
                if ($(u).hasClass("open")) {
                    if ($(".open" + $(u).attr("famid") + " .test").hasClass("fa-minus-square-o")) {                        
                        test += "&showSortDetailsL=" + $(u).attr("famid");
                    }
                    if ($(".open" + $(u).attr("famid") + " .family").hasClass("fa-minus-square-o")) {
                        family += "&showTestDetalisL=" + $(u).attr("famid");
                    }
                    if ($(".open" + $(u).attr("famid") + " th[kr=1]").attr("colspan")==1) {
                        kr1 += "&showKr1L=" + $(u).attr("famid");
                    }
                    if ($(".open" + $(u).attr("famid") + " th[kr=2]").attr("colspan") == 1) {
                        kr2 += "&showKr2L=" + $(u).attr("famid");
                    }
                    if ($(".open" + $(u).attr("famid") + " th[kr=3]").attr("colspan") == 1) {
                        kr3 += "&showKr3L=" + $(u).attr("famid");
                    }
                }
            });
            test = test + kr1 + kr2 + kr3;
            var repUrl = $(e).attr("url");
            var from = $(".date-from").val();
            var to = $(".date-to").val();
            var OrderNo = $("th[columnname='OrderNo'] input").val();
            if ($("#OrderNumber").length > 0)
                OrderNo = $("#OrderNumber").val();


            if (para = "pdf") {
                var object = "<embed src=\"" + repUrl + "?Id=" + $("#Id").attr("value") + "&OrderNumber=" + OrderNo + "&from=" + from + "&to=" + to + "&print=true" + test + family +"\" type=\"application/pdf\" width=\"830\" height=\"800\" ></object>";
                pdfModal("Report", object, [""]);
            }
            
        }
    </script>
</div>