﻿@model IEnumerable<PCMS.Areas.MasterData.Models.md_material_ConcreteFamilyGroup>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialProduction_0_Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialProduction_0_Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialProduction_1_Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialProduction_1_Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SteadyProduction_0_Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SteadyProduction_0_val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SteadyProduction_1_Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SteadyProduction_1_Val)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrengthAfter2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrengthAfter7)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrengthAfter28)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrengthAfter56)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StrengthAfter90)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeTestRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AmountTestRequired)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InitialProduction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialProduction_0_Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialProduction_0_Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialProduction_1_Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialProduction_1_Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SteadyProduction_0_Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SteadyProduction_0_val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SteadyProduction_1_Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SteadyProduction_1_Val)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrengthAfter2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrengthAfter7)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrengthAfter28)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrengthAfter56)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StrengthAfter90)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeTestRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AmountTestRequired)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InitialProduction)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
