﻿@model PCMS.Areas.Weigh.Models.md_order_Weighing

@{
    ViewBag.Title = "Stornieren";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (IsAjax)
    {
        Layout = null;
    }
}



<h3>Sicher das Sie die Wägung stornieren wollen?</h3>
<div>
    
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Weight1.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight1.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight2.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight2.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LicensePlate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LicensePlate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionSiteDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionSiteDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConstructionSiteId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConstructionSiteId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArticleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArticleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Direction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Direction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName1)
        </dd>

    </dl>*@

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
