﻿@model PCMS.Areas.Weigh.Models.md_order_Weighing

@{
    ViewBag.Title = "2.Wägung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .uppercase {
        text-transform: uppercase;
    }
</style>
<div id="weightContainer">

    @using (Html.BeginForm())
    {


        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.RegistrationDate)
        @Html.HiddenFor(model => model.UserName1)
        @Html.HiddenFor(model => model.UserName2)
        @Html.HiddenFor(model => model.ContingentNumber)
        @Html.HiddenFor(model => model.Status)
        @Html.HiddenFor(model=>model.CustomerNumber)
        //, { "ReportSolas", "/Weigh/md_order_Weighing/ReportDetailSolas/" }
        @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml", new ViewDataDictionary { { "SaveAndReport", "/Weigh/md_order_Weighing/ReportDetail/" }, { "Report", "/Weigh/md_order_Weighing/ReportDetail/" }, { "ReportPrint", "/Weigh/md_order_Weighing/ReportDetailPrint/" } })
        
        @Html.Partial("Content", Model)
        @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
    }

</div>

<script>
    var editAble = true;
    function addMaterial(url) {
        var _url = "./MenuElementCreate";
        if (url) {
            _url = url;
        }
        $.ajax({

            url: _url,
            type: "GET",
            dataType: "text",
            global: true,
            //contentType: 'application/json',
            success: function (data) {
                ChooseMaterial2("Material", data, ["", ""]);
            }
        });

    }
    function ChooseMaterial2(titel, content, arg) {
        var modal = "";
        modal += '<div id="aggre" class="modal fade bs-example-modal-lg">';
        modal += '<div class="modal-dialog modal-lg">';
        modal += '<div class="modal-content">';
        modal += '<div class="modal-header">';
        modal += '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>';
        modal += '<h4 class="modal-title">' + titel + '</h4>';
        modal += '</div>';
        modal += '<div class="modal-body">';
        modal += '<p>' + content + '</p>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        modal += '</div>';
        var dModal = $(modal);
        dModal.modal('show');

        $(dModal).on('hidden.bs.modal', function (e) {
            $(this).remove();
        })
        init();
    }
    
</script>

@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
