﻿
@model PagedList.IPagedList<PCMS.Areas.Weigh.Models.md_order_Weighing>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Hofliste";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<style>
    .status0{
        background-color:lightgreen;
    }
    .status1{
        background-color:green;
    }
    .status2{
        background-color:dodgerblue;
    }
    .status4{
        background-color:orangered;
    }
</style>
<div class="tableContent" tablename="md_order_Weighing">
    <a class="btn btn-default btn-success" href="@Url.Action("Create","md_order_Weighing", new { area = "Weigh" })"><i class="fa fa-plus"></i> Neuer Wiegevorgang</a>
    <a class="btn btn-default" href="@Url.Action("CreateManuell","md_order_Weighing", new { area = "Weigh" })"><i class="fa fa-plus"></i> Nacherfassen</a>
    <a class="btn btn-default" href="@Url.Action("Index","md_order_Weighing", new { area = "Weigh" })"><i class="fa fa-refresh"></i> Neu laden</a>
    <br />
    <br />
    <div class="row">
        <div class="col-md-1"><button onclick="DateBack()" class="fa fa-arrow-left btn btn-default" title="Zurück"></button></div>
        <div class="col-md-3"><input class="date-from top-date-filter-value form-control" onchange="DateFilter()" id="RegistrationDate" name="RegistrationDate" type="date" /></div>
        <div class="col-md-1"><button onclick="DateForward()" class="fa fa-arrow-right btn btn-default" title="Vor"></button></div>
        <div class="col-md-2 col-lg-push-5">
            <select class="form-control" onchange="DateFilter()" id="stateFilter"><option value="-1">Angelegt + 1.Wägung</option><option value="0">Angelegt</option><option value="1">1.Wägung</option><option value="2">Beendet</option><option value="3">Alle</option></select>
        </div>
        @*<div class="col-md-2 col-lg-push-5">@Html.DropDownListFor(model => model.Item1, listItems, "--Status auswählen--", new { @onchange = "StateSearch()", @class = "form-control" })</div>*@
    </div>
    <br />
    <div id="weighingOrderBody" style="overflow-x: auto;">
        @Html.Partial("IndexContent", Model)
    </div>
</div>


<script>
    $(document).ready(function () {
        var date = new Date();
        $("#RegistrationDate").val(date.getFullYear() + "-" + ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + "-" + (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()));
        // By HM 2018_03_05 Wenn man Wiegungen aufruft sollen alle Wiegungen angezeigt werden
        $("#stateFilter").val(3);
    });

    function DateFilter() {
        var state = $("#stateFilter").val();

        $.post("/Weigh/md_order_weighing/SelectDate", { regDate: $("#RegistrationDate").val(), state: state }, function (data) {
            $("#weighingOrderBody").html(data);
        });

        //$.post("/Order/md_order_Order/SelectDateContingent", { regDate: $("#RegistrationDate").val(), state: 2 }, function (data) {
        //    $("#ContingentOrderBody").html(data);
        //});
        var interval = setInterval(CompareLoadingTime, 1000);
    }

    function DateBack() {
        var from = $("#RegistrationDate").val().split('-');
        date = new Date(from[0] + "/" + from[1] + "/" + from[2]);
        date.setDate(date.getDate() - 1);
        $("#RegistrationDate").val(date.getFullYear() + "-" + ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + "-" + (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()));
        DateFilter();
    }
    function DateForward() {
        var from = $("#RegistrationDate").val().split('-');
        date = new Date(from[0] + "/" + from[1] + "/" + from[2]);
        date.setDate(date.getDate() + 1);
        $("#RegistrationDate").val(date.getFullYear() + "-" + ((date.getMonth() + 1) < 10 ? "0" + (date.getMonth() + 1) : (date.getMonth() + 1)) + "-" + (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()));
        DateFilter();
    }
</script>
