﻿@model PagedList.IPagedList<PCMS.Areas.Weigh.Models.md_order_Weighing>

    <table class="table table-hover table-condensed" tablename="md_order_Weighing" editUrl="@Url.Action("Edit", "md_order_Weighing", new { area = "Weigh" })" deleteUrl="@Url.Action("Delete", "md_order_Weighing", new { area = "Weigh" })" detailsUrl="@Url.Action("Details", "md_order_Weighing", new { area = "Weigh" })">
        <thead>
            <tr class="caption">
                @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                <th editable="false" onclick="sort(this)" colName="Direction" style="">
                    @Html.DisplayNameFor(model => model[0].Direction)
                </th>
                <th editable="false" onclick="sort(this)" colName="OrderNumber" style="">
                    @Html.DisplayNameFor(model => model[0].OrderNumber)
                </th>
                <th editable="false" onclick="sort(this)" colName="LicensePlate" style="">
                    @Html.DisplayNameFor(model => model[0].LicensePlate)
                </th>
                @*@*<th editable="false" onclick="sort(this)" colName="RegistrationDate" style="">
                        @Html.DisplayNameFor(model => model[0].RegistrationDate)
                    </th>*@
                <th editable="false" onclick="sort(this)" colName="WeightId.WeightDateTime" style="">
                    Erstwägung
                </th>
                <th editable="false" onclick="sort(this)" colName="WeightId1.Weight" style="">
                    Gewicht1
                </th>
                <th editable="false" onclick="sort(this)" colName="WeightId1.AlibiNo" style="">
                    Alibinr.1
                </th>
                <th editable="false" onclick="sort(this)" colName="WeightId1.Weight" style="">
                    Gewicht2
                </th>
                <th editable="false" onclick="sort(this)" colName="WeightId1.AlibiNo" style="">
                    Alibinr.2
                </th>
                <th editable="false" onclick="sort(this)" colName="CustomerDescription" style="">
                    @Html.DisplayNameFor(model => model[0].CustomerDescription)
                </th>
                @*<th editable="false" onclick="sort(this)" colName="CustomerId" style="">
                        @Html.DisplayNameFor(model => model[0].CustomerId)
                    </th>*@
                @*<th editable="false" onclick="sort(this)" colName="ConstructionSiteDescription" style="">
                    @Html.DisplayNameFor(model => model[0].ConstructionSiteDescription)
                </th>*@
                @*<th editable="false" onclick="sort(this)" colName="ConstructionSiteId" style="">
                        @Html.DisplayNameFor(model => model[0].ConstructionSiteId)
                    </th>*@
                <th editable="false" onclick="sort(this)" colName="ArticleDescription" style="">
                    @Html.DisplayNameFor(model => model[0].ArticleDescription)
                </th>
                <th editable="false" onclick="sort(this)" colName="ArticleDescription" style="">
                    @Html.DisplayNameFor(model => model[0].Status)
                </th>

                @*<th editable="false" onclick="sort(this)" colName="ArticleId" style="">
                        @Html.DisplayNameFor(model => model[0].ArticleId)
                    </th>*@
                @*<th editable="false" onclick="sort(this)" colName="UserName" style="">
                        @Html.DisplayNameFor(model => model[0].UserName)
                    </th>*@
            </tr>
            <tr>
                @*<th style="" class="head-filter" columnName="Id" tableName="md_order_Weighing">
                    </th>*@
                <th style="" class="head-filter" columnName="Direction" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="OrderNumber" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="LicensePlate" tableName="md_order_Weighing">
                </th>
                @*<th style="" class="head-filter" columnName="RegistrationDate" tableName="md_order_Weighing">
                    </th>*@
                <th style="" class="head-filter" columnName="WeightId1.WightDateTime" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="WeightId1.Weight" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="WeightId1.AlibiNo" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="WeightId2.Weight" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="WeightId2.AlibiNo" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="CustomerDescription" tableName="md_order_Weighing">
                </th>
                @*<th style="" class="head-filter" columnName="CustomerId" tableName="md_order_Weighing">
                    </th>*@
                @*<th style="" class="head-filter" columnName="ConstructionSiteDescription" tableName="md_order_Weighing">
                </th>*@
                @*<th style="" class="head-filter" columnName="ConstructionSiteId" tableName="md_order_Weighing">
                    </th>*@
                <th style="" class="head-filter" columnName="ArticleDescription" tableName="md_order_Weighing">
                </th>
                <th style="" class="head-filter" columnName="Status" tableName="md_order_Weighing">
                </th>

                @*<th style="" class="head-filter" columnName="ArticleId" tableName="md_order_Weighing">
                    </th>*@

                @*<th style="" class="head-filter" columnName="UserName" tableName="md_order_Weighing">
                    </th>*@
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                 
                  var cls = item.Status == 2 ? "column-value5" : "column-value4";
                
                <tr id="@item.Id">
                    @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="md_order_Weighing">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                    <td class="@cls" isKey="false" columnName="Direction" style="" tableName="md_order_Weighing">
                        @if(item.Direction == 0)
                        {
                            <b>Eingang</b> 
                        }
                        @if (item.Direction == 1)
                        {
                            <b>Ausgang</b>
                        }
                        @if (item.Direction == 2)
                        {
                            <b>Barverkauf</b>
                        }
                        @*@(item.Direction == 0 ? "Eingang" : "Ausgang")*@
                        @*@Html.DisplayFor(modelItem => item.Direction)*@
                    </td>
                    <td class="@cls" isKey="false" columnName="OrderNumber" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.OrderNumber)
                    </td>
                    <td class="@cls" isKey="false" columnName="LicensePlate" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.LicensePlate)
                    </td>
                    @*<td class="column-value" isKey="false" columnName="RegistrationDate" style="" tableName="md_order_Weighing">
                            @Html.DisplayFor(modelItem => item.RegistrationDate)
                        </td>*@
                    <td class="@cls" isKey="false" columnName="WeightId1.WightDateTime" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.Weight1.WightDateTime)
                    </td>
                    <td class="@cls" isKey="false" columnName="WeightId1.Weight" style="" tableName="md_order_Weighing">
                        @(item.WeightId1 != null ? Math.Round(item.Weight1.Weight).ToString() : "" )
                        @*@Html.DisplayFor(modelItem => item.Weight1.Weight)*@
                    </td>
                    <td class="@cls" isKey="false" columnName="WeightId1.AlibiNo" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.Weight1.AlibiNo)
                    </td>
                    <td class="@cls" isKey="false" columnName="WeightId1.Weight" style="" tableName="md_order_Weighing">
                        @(item.WeightId2 != null ? Math.Round( item.Weight2.Weight).ToString() : "" )
                        @*@Html.DisplayFor(modelItem => Math.Round( item.Weight2.Weight))*@
                    </td>
                    <td class="@cls" isKey="false" columnName="WeightId1.AlibiNo" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.Weight2.AlibiNo)
                    </td>
                    <td class="@cls" isKey="false" columnName="CustomerDescription" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.CustomerDescription)
                    </td>
                    @*<td class="column-value" isKey="false" columnName="CustomerId" style="" tableName="md_order_Weighing">
                            @Html.DisplayFor(modelItem => item.CustomerId)
                        </td>*@
                    @*<td class="@cls" isKey="false" columnName="ConstructionSiteDescription" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.ConstructionSiteDescription)
                    </td>*@
                    @*<td class="column-value" isKey="false" columnName="ConstructionSiteId" style="" tableName="md_order_Weighing">
                            @Html.DisplayFor(modelItem => item.ConstructionSiteId)
                        </td>*@
                    <td class="@cls" isKey="false" columnName="ArticleDescription" style="" tableName="md_order_Weighing">
                        @Html.DisplayFor(modelItem => item.ArticleDescription)
                    </td>
                    <td class="@cls @("status" + item.Status)" isKey="false" columnName="Status" style="" tableName="md_order_Weighing">
                        @if (item.Status == 0)
                        {
                            <b>Angelegt</b>
                        }
                        else if (item.Status == 1)
                        {
                            <b>1.Wägung</b>
                        }
                        else if (item.Status == 2)
                        {
                            <b>Beendet</b>
                        }
                        else if (item.Status == 4)
                        {
                            <b>Storniert</b>
                        }
                    </td>

                    @*<td class="column-value" isKey="false" columnName="ArticleId" style="" tableName="md_order_Weighing">
                            @Html.DisplayFor(modelItem => item.ArticleId)
                        </td>*@

                    @*<td class="column-value" isKey="false" columnName="UserName" style="" tableName="md_order_Weighing">
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>*@
                </tr>
            }
        </tbody>
    </table>

