﻿@model PCMS.Areas.MasterData.Models.md_material_CompressionStrenghtGroup
@{
    ViewBag.Title = "DeleteCompression";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Class)

    <div>Möchten sie die Festigkeitsklasse "@Html.DisplayTextFor(model => model.Description)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-Compression">
        <input type="button" onclick="closeWindow()" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="button" name="submit" id="submit" value="Löschen" class="btn btn-default" />
    </div>
}
<script>
    $("#submit").click(function () {
        $.post("/MasterData/md_masterData_Brand/RemoveCompression", { id: $('#Id').val(), description: $('#Class').val() }, function (data) {
            if(data == true)
            {
                $("#brand_CompressionClassId option:selected").remove();
                $("#Modal").modal("hide");
            }
        });
    });

    function closeWindow() {
        $("#Modal").modal("hide");
    }
</script>