﻿@model List<PCMS.Areas.MasterData.Models.md_masterData_Deliverer>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Deliverer">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    @{
        ViewBag.Title = "Hersteller Auswahl";
        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Deliverer">
            <thead>
                <tr class="caption">
                    <td editable="false" colname="Id" style="">@Html.DisplayNameFor(model => model[0].Id)</td>
                    <td editable="true" colname="Name" style="">@Html.DisplayNameFor(model => model[0].Name)</td>
                    <td editable="true" colname="DelivererId" style="">@Html.DisplayNameFor(model => model[0].DelivererId)</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id" onclick="chooseDeliv(this)">
                        <td columnname="Id" style="" tablename="md_masterData_Deliverer">@Html.DisplayFor(modelItem => item.Id)</td>
                        <td columnname="Name" style="" tablename="md_masterData_Deliverer">@Html.DisplayFor(modelItem => item.Name)</td>
                        <td columnname="DelivererId" style="" tablename="md_masterData_Deliverer">@Html.DisplayFor(modelItem => item.DelivererId)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function chooseDeliv(e) {
        $("#deliverer_Name").val($(e).closest("tr").find("td[columnname='Name']").text().trim());
        $("#Deliverer input").val($(e).closest("tr").find("td[columnname='Id']").text().trim());
        $("#Modal").modal("hide");
    }
</script>
