﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Material>
@using PagedList.Mvc

<div class="tableContent" tablename="md_masterData_Material">
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />



    @{
        if(ViewBag.Index == "all")
        {
            ViewBag.Title = "Material Übersicht";
        }
        if (ViewBag.Index == "aggregates")
        {
            ViewBag.Title = "Zuschlagstoffe Übersicht";
        }
        if (ViewBag.Index == "binder")
        {
            ViewBag.Title = "Bindemittel Übersicht";
        }
        if (ViewBag.Index == "admixtures")
        {
            ViewBag.Title = "Zusatzmittel Übersicht";
        }
        if (ViewBag.Index == "water")
        {
            ViewBag.Title = "Wasser Übersicht";
        }
        if (ViewBag.Index == "sort")
        {
            ViewBag.Title = "Betonsorten Übersicht";
        }
        if(ViewBag.Index == "additives")
        {
            ViewBag.Title = "Additive Übersicht";
        }

        Layout = "~/Views/Shared/_Layout.cshtml";
        if (Request.IsAjaxRequest())
        {
            Layout = null;
        }
    }
    <div style="overflow-x: auto;">

        @if (ViewBag.Index == "all")
        {
            
            <a class="btn btn-default" href="@Url.Action("Index","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @*<a class="btn btn-default" onclick="refresh()"><i class="fa fa-refresh"></i> Neu laden</a>*@
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


        @if (ViewBag.Index == "aggregates")
        {
            <a class="btn btn-default" href="@Url.Action("CreateAggregates","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neues Zuschlagstoff</a>
            <a class="btn btn-default" href="@Url.Action("IndexAggregates","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="location.href='@Url.Action("CreateAggregates", "md_masterData_Material", new { area = "MasterData" })'" class="btn btn-default">Zuschlagstoff anlegen</button>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditAggregates", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (ViewBag.Index == "additives")
        {
            <a class="btn btn-default" href="@Url.Action("CreateAdditives","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Additive</a>
            <a class="btn btn-default" href="@Url.Action("IndexAdditives","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="location.href='@Url.Action("CreateAdditives", "md_masterData_Material", new { area = "MasterData" })'" class="btn btn-default">Additive anlegen</button>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditAdditives", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (ViewBag.Index == "binder")
        {
            <a class="btn btn-default" href="@Url.Action("CreateBinders","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neues Bindemittel</a>
            <a class="btn btn-default" href="@Url.Action("IndexBinder","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="location.href='@Url.Action("CreateBinders", "md_masterData_Material", new { area = "MasterData" })'" class="btn btn-default">Bindemittel anlegen</button>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditBinders", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (ViewBag.Index == "admixtures")
        {
            <a class="btn btn-default" href="@Url.Action("CreateAdmixtures","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Zusatzmittel</a>
            <a class="btn btn-default" href="@Url.Action("IndexAdmixtures","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="location.href='@Url.Action("CreateAdmixtures", "md_masterData_Material", new { area = "MasterData" })'" class="btn btn-default">Zusatzmittel anlegen</button>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditAdmixtures", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (ViewBag.Index == "water")
        {
            <a class="btn btn-default" href="@Url.Action("CreateWater","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Wasser</a>
            <a class="btn btn-default" href="@Url.Action("IndexWater","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="location.href='@Url.Action("CreateWater", "md_masterData_Material", new { area = "MasterData" })'" class="btn btn-default">Wasser anlegen</button>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditWater", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        @if (ViewBag.Index == "sort")
        {
            <a class="btn btn-default" href="@Url.Action("CreateSort","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-plus"></i> Neue Sorte</a>
            <a class="btn btn-default" href="@Url.Action("IndexSort","md_masterData_Material", new { area = "MasterData" })"><i class="fa fa-refresh"></i> Neu laden</a>
            @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
            @*<p>
                <button onclick="location.href='@Url.Action("CreateSort", "md_masterData_Material", new { area = "MasterData" })'" class="btn btn-default">Betonsorte anlegen</button>
                <button onclick="refresh()" class="btn btn-default">Liste neu laden</button>
                <button onclick="" class="btn btn-default">Drucken</button>
            </p>*@
            <table class="table table-hover table-condensed" tablename="md_masterData_Material" editUrl="@Url.Action("EditSort", "md_masterData_Material", new { area = "masterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Material", new { area = "masterData" })">
                <thead>
                    <tr class="caption">
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="false" colname="MaterialNumber" style="">
                            @Html.DisplayNameFor(model => model[0].MaterialNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ArticleNumber" style="">
                            @Html.DisplayNameFor(model => model[0].ArticleNumber)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="Name" style="">
                            @Html.DisplayNameFor(model => model[0].Name)
                        </th>
                        <th ondblclick="hideColumn(this)" onclick="sort(this)" editable="true" colname="ShortName" style="">
                            @Html.DisplayNameFor(model => model[0].ShortName)
                        </th>
                    </tr>
                    <tr>
                        <th style="" class="head-filter" columnname="MaterialNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ArticleNumber" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="Name" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                        <th style="" class="head-filter" columnname="ShortName" tablename="md_masterData_Material">
                            <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" placeholder="Suchen" />
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                {
                        <tr id="@item.Id">
                            <td class="column-value" columnname="MaterialNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.MaterialNumber)
                            </td>
                            <td class="column-value" columnname="ArticleNumber" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ArticleNumber)
                            </td>
                            <td class="column-value" columnname="Name" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td class="column-value" columnname="ShortName" style="" tablename="md_masterData_Material">
                                @Html.DisplayFor(modelItem => item.ShortName)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
        <br />
    </div>
</div>
