﻿@model PCMS.Areas.LIMS.Models.lims_concrete_Test

@{
    ViewBag.Title = "Löschen";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    Layout =null;
}



<h3>Wollen sie die Probe sicher löschen?</h3>
<div>

    <dl class="dl-horizontal">
        
        

        <dt>
            @Html.DisplayNameFor(model => model.TestNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>

        

        

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Löschen" class="btn btn-default" /> |
            @Html.ActionLink("Abbrechen", "Index")
        </div>
    }
</div>
