﻿@model PCMS.Areas.LIMS.Models.lims_concrete_ProbDry

@{
    Layout = null;
}
<div class="panel panel-default">
    <div class="panel-heading" onclick="togglePanalBody(this)">
        <h3 class="panel-title">Ausreißer<i style="float:right" class="fa fa-chevron-up"></i></h3>
    </div>
    <div style="" class="panel-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Conformity, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Conformity)
                            @Html.ValidationMessageFor(model => model.Conformity, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>                      
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.ProductionControl, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.ProductionControl)
                            @Html.ValidationMessageFor(model => model.ProductionControl, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(model => model.Reason, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("Reason", null, "--bitte wählen--", htmlAttributes: new { @class = "form-control select2", @MenuId = 31, @dropDownSel = @Model.Reason })
                    @Html.ValidationMessageFor(model => model.Reason, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        
        
    </div>
</div>






      