﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Betonsorte bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.material.Id)
    @Html.HiddenFor(model => model.material.MaterialGroupId)
    @Html.HiddenFor(model => model.material.FacilitiesId)
    @Html.HiddenFor(model => model.material.DelivererId)
    @Html.HiddenFor(model => model.material.SortId)
    @Html.HiddenFor(model => model.sortDetails.Id)
    @*@Html.HiddenFor(model => model.sortDetails.NormId)
    @Html.HiddenFor(model => model.sortDetails.ExposureKombiId)
    @Html.HiddenFor(model => model.sortDetails.ChloridId)
    @Html.HiddenFor(model => model.sortDetails.ProgressId)
    @Html.HiddenFor(model => model.sortDetails.CompressionId)
    @Html.HiddenFor(model => model.sortDetails.ConsistencyId)*@

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div id="Deliverer">@Html.HiddenFor(model => model.material.DelivererId)</div>
    <div id="facId">@Html.HiddenFor(model => model.material.FacilitiesId)</div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ArticleNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ArticleNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.MaterialNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.MaterialNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.MaterialNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Name)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ShortName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ShortName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Density, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Density, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Density)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Unit, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Unit)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment1, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment1)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment2, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment2)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment3, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment3)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment4, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment4)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment5, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment5)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.material.Price, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.material.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Price)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
    }

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.deliverer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.deliverer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deliverer.Name)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Lieferant auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseDeliverer","md_masterData_Material", new { area = "MasterData" })', Title='Lieferant auswählen')" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.facili.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.facili.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facili.Description)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Werk auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseFacilities","md_masterData_Material", new { area = "MasterData" })', Title = 'Werk auswählen')" />
        </div>
    </div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.materialType.Description, "Betonart", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.material.MaterialTypeId, ViewBag.MaterialType as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.materialType.Description)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateMaterialType","md_masterData_Sort", new { area = "MasterData" })', Title='Betonart anlegen ')" />
            </div>
            <div class="col-md-1">
                <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteMaterialType()" />
            </div>
        </div>
    }

    // Betonsorte Details

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Details</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.sortDetails.WZValue, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.sortDetails.WZValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sortDetails.WZValue)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.sortDetails.Aggregate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.sortDetails.Aggregate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sortDetails.Aggregate)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.sortDetails.CuringTime1, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.sortDetails.CuringTime1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sortDetails.CuringTime1)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.sortDetails.CuringTime2, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.sortDetails.CuringTime2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sortDetails.CuringTime2)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.sortDetails.CuringTime3, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.sortDetails.CuringTime3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sortDetails.CuringTime3)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.sortDetails.CuringTime4, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-field">
                @Html.EditorFor(model => model.sortDetails.CuringTime4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sortDetails.CuringTime4)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.standard.ShortName, "Norm", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.NormId, ViewBag.Norm as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.NormId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateStandard","md_masterData_Sort", new { area = "MasterData" })', Title='Norm anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteStandard()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.compression.Class, "Festigkeitsklasse", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.CompressionId, ViewBag.CompressionStrenght as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.CompressionId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateCompressionStrenght","md_masterData_Sort", new { area = "MasterData" })', Title='Festigkeitsklasse anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteCompressionStrenght()" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.consistency.Class, "Konsistenzklasse", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.ConsistencyId, ViewBag.Consistency as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.ConsistencyId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateConsistency","md_masterData_Sort", new { area = "MasterData" })', Title='Konsistenzklasse anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteConsistency()" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.chlorid.Class, "Chloridklasse", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.ChloridId, ViewBag.Chlorid as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.ChloridId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateChlorid","md_masterData_Sort", new { area = "MasterData" })', Title='Chloridklasse anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteChlorid()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.progress.Description, "Entwicklung", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.ProgressId, ViewBag.Progress as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.ProgressId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateProgress","md_masterData_Sort", new { area = "MasterData" })', Title='Entwicklung anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteProgress()" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.exposure.ShortDescription, "Expositionsklasse", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.ExposureKombiId, ViewBag.Expo as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.ExposureKombiId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateExpo","md_masterData_Sort", new { area = "MasterData" })', Title='Expositionsklasse anlegen ')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteExpo()" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.Label("Lieferschein-Typ", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.DeliveryNoteTypeId, ViewBag.DNType as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.DeliveryNoteTypeId)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.Label("Betonfamilie", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.sortDetails.ConcreteFamilyId, ViewBag.Family as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.sortDetails.ConcreteFamilyId)
            </div>
        </div>
    </div>

    

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}
<script>
    function DeleteMaterialType() {
        var url = '@Url.Action("DeleteMaterialType", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#material_MaterialTypeId').val();
        openModal(url, "Betonart löschen");
    }

    function DeleteCompressionStrenght() {
        var url = '@Url.Action("DeleteCompressionStrenght", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#sortDetails_CompressionId').val();
        openModal(url, "Festigkeitsklasse löschen");
    }

    function DeleteConsistency() {
        var url = '@Url.Action("DeleteConsistency", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#sortDetails_ConsistencyId').val();
        openModal(url, "Konsistenzklasse löschen");
    }

    function DeleteStandard() {
        var url = '@Url.Action("DeleteStandard", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#sortDetails_NormId').val();
        openModal(url, "Norm löschen");
    }

    function DeleteChlorid() {
        var url = '@Url.Action("DeleteChlorid", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#sortDetails_ChloridId').val();
        openModal(url, "Chloridklasse löschen");
    }

    function DeleteProgress() {
        var url = '@Url.Action("DeleteProgress", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#sortDetails_ProgressId').val();
        openModal(url, "Entwicklung löschen");
    }

    function DeleteExpo() {
        var url = '@Url.Action("DeleteExpo", "md_masterData_Sort", new { area = "MasterData" })' + "?id=" + $('#sortDetails_ExposureKombiId').val();
        openModal(url, "Expositionsklasse löschen");
    }
</script>