﻿@model PCMS.Areas.MasterData.Models.md_masterData_Contact

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}



<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Arbeitet bei:
        </dt>
        <dd>
            <ul>
                @foreach(var company in Model.Companys){
                    <li><a href="@Url.Action("Details","md_order_Company", new { area = "Order" })/@company.Id"> @company.CompanyName</a></li>
                }

            </ul>
        </dd>
        <dt>
            Fahrzeuge:
        </dt>
        <dd>
            <ul>
                @foreach(var vehicle in Model.Vehicles){
                    <li><a href="@Url.Action("Details","md_order_Vehicle", new { area = "Order" })/@vehicle.Id"> @vehicle.NumberPlate</a></li>
                }

            </ul>
        </dd>
    </dl>
</div>

 
<p>
    @Html.ActionLink("Bearbeiten", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("zurück zur Liste", "Index")
</p>
