﻿@model PagedList.IPagedList<PCMS.Areas.MasterData.Models.md_masterData_Contact>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Kontakte Übersicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="md_masterData_Contact">
    @*<i onclick="openCreate('@Url.Action("Create","md_masterData_Contact", new { area = "MasterData" })')" class="fa fa-plus"></i>*@
    <i onclick="location.href='@Url.Action("Create", "md_masterData_Contact", new { area = "MasterData" })'" class="fa fa-plus"></i>
    <i style="color:green" onclick="refresh()" class="fa fa-refresh"></i>
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="md_masterData_Contact" editUrl="@Url.Action("Edit", "md_masterData_Contact", new { area = "MasterData" })" deleteUrl="@Url.Action("Delete", "md_masterData_Contact", new { area = "MasterData" })" detailsUrl="@Url.Action("Details", "md_masterData_Contact", new { area = "MasterData" })" >
            <thead>
                <tr class="caption">
                    <th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="FirstName" style="">
                        @Html.DisplayNameFor(model => model[0].FirstName)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="LastName" style="">
                        @Html.DisplayNameFor(model => model[0].LastName)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Mobile" style="">
                        @Html.DisplayNameFor(model => model[0].Mobile)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Tel" style="">
                        @Html.DisplayNameFor(model => model[0].Tel)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Fax" style="">
                        @Html.DisplayNameFor(model => model[0].Fax)
                    </th>
                    <th editable="true" onclick="sort(this)" colName="Email" style="">
                        @Html.DisplayNameFor(model => model[0].Email)
                    </th>
            <th editable="true" onclick="" colName="FirmenListe" style="">
                @Html.DisplayNameFor(model => model[0].FirmenListe)
            </th>
                </tr>
                <tr>
                    <th style="" class="head-filter" columnName="Id" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Id" />
                    </th>
                    <th style="" class="head-filter" columnName="FirstName" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.FirstName" />
                    </th>
                    <th style="" class="head-filter" columnName="LastName" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.LastName" />
                    </th>
                    <th style="" class="head-filter" columnName="Mobile" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Mobile" />
                    </th>
                    <th style="" class="head-filter" columnName="Tel" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Tel" />
                    </th>
                    <th style="" class="head-filter" columnName="Fax" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Fax" />
                    </th>
                    <th style="" class="head-filter" columnName="Email" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Email" />
                    </th>
                    <th style="" class="head-filter" columnName="FirmenListe" tableName="md_masterData_Contact">
                        <input class="head-filter-value form-control" onkeydown="" type="text" value="" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
        {
                    <tr id="@item.Id">
                        <td class="column-value" isKey="true" columnName="Id" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td class="column-value" isKey="false" columnName="FirstName" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.FirstName)
                        </td>
                        <td class="column-value" isKey="false" columnName="LastName" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.LastName)
                        </td>
                        <td class="column-value" isKey="false" columnName="Mobile" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.Mobile)
                        </td>
                        <td class="column-value" isKey="false" columnName="Tel" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.Tel)
                        </td>
                        <td class="column-value" isKey="false" columnName="Fax" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.Fax)
                        </td>
                        <td class="column-value" isKey="false" columnName="Email" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td class="column-value" isKey="false" columnName="FirmenListe" style="" tableName="md_masterData_Contact">
                            @Html.DisplayFor(modelItem => item.FirmenListe)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br>
        @*//--------------------------------------------------------------Start Pagging
        *@<div class="TableNaviFrame">
            <div class="TableNaviStats">
                Seite @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) von @Model.PageCount<br>
                Eintrag @Model.FirstItemOnPage bis @Model.LastItemOnPage von @Model.TotalItemCount
            </div>
            <div class="pagination-container TableNaviSite">
                <ul class="pagination">
                    @if (Model.PageNumber > 1)
                    {
                        <li><a pn="1" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    }
                    @if (Model.PageCount > 3)
                    {
                        if (Model.PageNumber < 4)
                        {
                            for (int i = 1; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else if (Model.PageNumber > Model.PageCount - 2)
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageCount; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                        else
                        {
                            for (int i = Model.PageNumber - 2; i <= Model.PageNumber + 2; i++)
                            {
                                <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                            }
                        }
                    }
                    else
                    {
                        for (int i = 1; i <= Model.PageCount; i++)
                        {
                            <li class="@((i == Model.PageNumber) ? "active" : "")"><a href="#" pn="@i">@i <span class="sr-only"></span></a></li>
                        }
                    }
                    @if (Model.PageNumber != Model.PageCount)
                    {
                        <li><a pn="@Model.PageCount" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
                    }
                </ul>
            </div>
            <div class="TableNaviCount">
                <select onchange="filter()" class="pagesize form-control" style="">
                    @{
                        List<int> pageSize = new List<int>() { 5, 10, 50, 100 };
                    }
                    @foreach (int u in pageSize)
                    {
                        if (u.Equals(Model.PageSize))
                        {
                            <option selected>@u</option>
                        }
                        else
                        {
                            <option>@u</option>
                        }
                    }
                </select>
            </div>
        </div>
        @*--------------------------------------------------------------End Pagging
        *@
    </div>
</div>