﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Additive anlegen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_t.cshtml")

    <div id="facId">@Html.HiddenFor(model => model.material.FacilitiesId)</div>
    @*<div id="MatType">@Html.HiddenFor(model => model.material.MaterialTypeId)</div>*@
    <div id="Deliverer">@Html.HiddenFor(model => model.material.DelivererId)</div>


    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ArticleNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ArticleNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ArticleNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.MaterialNumber, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.MaterialNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.MaterialNumber)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Name)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.ShortName, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.ShortName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.ShortName)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Density, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Density, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Density)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Unit, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Unit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Unit)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment1, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment1)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment2, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment2)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment3, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment3, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment3)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment4, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment4, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment4)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.material.Comment5, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.material.Comment5, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.material.Comment5)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.material.Price, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.material.Price, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.material.Price)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
    }

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.deliverer.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.deliverer.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.deliverer.Name)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Lieferant auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseDeliverer","md_masterData_Material", new { area = "MasterData" })', Title='Lieferant auswählen')" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.facili.Description, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.facili.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.facili.Description)
            </div>
        </div>
        <div>
            <input type="button" style="width:200px;" value="Werk auswählen" class="btn btn-default" onclick="openModal('@Url.Action("ChooseFacilities","md_masterData_Material", new { area = "MasterData" })', Title = 'Werk auswählen')" />
        </div>
    </div>

    if (ViewBag.CompanyType == 1)
    {

    }
    else
    {
        <div class="row">
            <div class="col-md-12"><hr /></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.materialType.Description, "Additiveart", htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.material.MaterialTypeId, ViewBag.MaterialType as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.materialType.Description)
                </div>
            </div>
            <div class="col-md-1">
                <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateMaterialType","md_masterData_Additives", new { area = "MasterData" })', Title='Additiveart anlegen ')" />
            </div>
            <div class="col-md-1">
                <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteMaterialType()" />
            </div>
        </div>
    }


    // ######################### Details Start #########################

    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="background-color:lightgrey"><h3>Details</h3></div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.Verification, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.Verification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.Verification)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.CECertification, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.CECertification, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.CECertification)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.DateOfIssue, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.DateOfIssue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.DateOfIssue)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.TerminationDate, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.TerminationDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.TerminationDate)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.Form, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.Form, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.Form)
            </div>
        </div>

        @if (ViewBag.CompanyType == 1)
        {

        }
        else
        {
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.additivesDetails.ConsiderationWater, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.additivesDetails.ConsiderationWater, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.additivesDetails.ConsiderationWater)
                </div>
            </div>
            <div class="col-md-1">
                <div class="editor-label">
                    @Html.LabelFor(model => model.additivesDetails.ConsiderationGrainFlourValue, htmlAttributes: new { @class = "control-label" })
                </div>
            </div>
            <div class="col-md-2">
                <div class="editor-field">
                    @Html.EditorFor(model => model.additivesDetails.ConsiderationGrainFlourValue, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.additivesDetails.ConsiderationGrainFlourValue)
                </div>
            </div>
        }

        
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.FiberForm, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.FiberForm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.FiberForm)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.FiberGeometric, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.FiberGeometric, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.FiberGeometric)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.FiberGroup, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.FiberGroup, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.FiberGroup)
            </div>
        </div>
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.additivesDetails.KValue, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.EditorFor(model => model.additivesDetails.KValue, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.additivesDetails.KValue)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">

        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.standard.Name, htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.additivesDetails.NormId, ViewBag.Norm as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.additivesDetails.NormId)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateStandard","md_masterData_Additives", new { area = "MasterData" })', Title='Norm anlegen')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteStandard()" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"><hr /></div>
    </div>
    <div class="row">
        <div class="col-md-1">
            <div class="editor-label">
                @Html.LabelFor(model => model.color.Description, "Farbe", htmlAttributes: new { @class = "control-label" })
            </div>
        </div>
        <div class="col-md-2">
            <div class="editor-field">
                @Html.DropDownListFor(model => model.additivesDetails.Color, ViewBag.Color as SelectList, "--auswählen--", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.additivesDetails.Color)
            </div>
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="neu" class="btn btn-default" onclick="openModal('@Url.Action("CreateColor","md_masterData_Additives", new { area = "MasterData" })', Title='Farbe anlegen')" />
        </div>
        <div class="col-md-1">
            <input type="button" style="width:100px" value="löschen" class="btn btn-default" onclick="DeleteColor()" />
        </div>
    </div>
    <div>
        <br />
    </div>
    @Html.Partial("~/Views/Shared/Partial_Cancel_Save_b.cshtml")
}

<script>
    function DeleteStandard() {
        var url = '@Url.Action("DeleteStandard", "md_masterData_Additives", new { area = "MasterData" })' + "?id=" + $('#additivesDetails_NormId').val();
        openModal(url, "Norm löschen");
    }

    function DeleteColor() {
        var url = '@Url.Action("DeleteColor", "md_masterData_Additives", new { area = "MasterData" })' + "?id=" + $('#additivesDetails_Color').val();
        openModal(url, "Farbe löschen");
    }

    function DeleteMaterialType() {
        var url = '@Url.Action("DeleteMaterialType", "md_masterData_Additives", new { area = "MasterData" })' + "?id=" + $('#material_MaterialTypeId').val();
        openModal(url, "Additiveart löschen");
    }

</script>
