﻿@model PCMS.Areas.Order.Models.md_order_LoadingOrder
@{
    ViewBag.Title = "Auftrag Stornieren?";
    //Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.AdmixturesAdditionValue1)
    @Html.HiddenFor(model => model.AdmixturesAdditionValue2)
    @Html.HiddenFor(model => model.AdmixturesAdditionValue3)
    @Html.HiddenFor(model => model.AdmixturesDescription1)
    @Html.HiddenFor(model => model.AdmixturesDescription2)
    @Html.HiddenFor(model => model.AdmixturesDescription3)
    @Html.HiddenFor(model => model.AdmixturesNumber1)
    @Html.HiddenFor(model => model.AdmixturesNumber2)
    @Html.HiddenFor(model => model.AdmixturesNumber3)
    @Html.HiddenFor(model => model.BackAmount)
    @Html.HiddenFor(model => model.BackAmountDN)
    @Html.HiddenFor(model => model.BatchSize)
    @Html.HiddenFor(model => model.CementAdditionValue1)
    @Html.HiddenFor(model => model.CementAdditionValue2)
    @Html.HiddenFor(model => model.CementAdditionValue3)
    @Html.HiddenFor(model => model.CementDescription1)
    @Html.HiddenFor(model => model.CementDescription2)
    @Html.HiddenFor(model => model.CementDescription3)
    @Html.HiddenFor(model => model.CementNumber1)
    @Html.HiddenFor(model => model.CementNumber2)
    @Html.HiddenFor(model => model.CementNumber3)
    @Html.HiddenFor(model => model.Comment1)
    @Html.HiddenFor(model => model.Comment2)
    @Html.HiddenFor(model => model.Comment3)
    @Html.HiddenFor(model => model.ConstructionSiteDescription)
    @Html.HiddenFor(model => model.ConstructionSiteNumber)
    @Html.HiddenFor(model => model.CustomerNumber)
    @Html.HiddenFor(model => model.CustomerName)
    @Html.HiddenFor(model => model.DeliveredQuantity)
    @Html.HiddenFor(model => model.DistanceTime)
    @Html.HiddenFor(model => model.DNComment)
    @Html.HiddenFor(model => model.DriverNumber)
    @Html.HiddenFor(model => model.DriverName)
    @Html.HiddenFor(model => model.MaterialNumber)
    @Html.HiddenFor(model => model.MixTime)
    @Html.HiddenFor(model => model.OrderedQuantity)
    @Html.HiddenFor(model => model.MaterialDescription)
    @Html.HiddenFor(model => model.OrderNumber)
    @Html.HiddenFor(model => model.RecipeDescription)
    @Html.HiddenFor(model => model.RecipeNumber)
    @Html.HiddenFor(model => model.Sort)
    @Html.HiddenFor(model => model.SpecialDescription1)
    @Html.HiddenFor(model => model.SpecialDescription2)
    @Html.HiddenFor(model => model.SpecialDescription3)
    @Html.HiddenFor(model => model.SpecialDescription4)
    @Html.HiddenFor(model => model.SpecialDescription5)
    @Html.HiddenFor(model => model.SpecialValue1)
    @Html.HiddenFor(model => model.SpecialValue2)
    @Html.HiddenFor(model => model.SpecialValue3)
    @Html.HiddenFor(model => model.SpecialValue4)
    @Html.HiddenFor(model => model.SpecialValue5)
    @Html.HiddenFor(model => model.VehicleNumber)
    @Html.HiddenFor(model => model.VehiclePlateNo)
    @Html.HiddenFor(model => model.VehicleType)
    @Html.HiddenFor(model => model.WaterAdditionValue1)
    @Html.HiddenFor(model => model.WaterAdditionValue2)
    @Html.HiddenFor(model => model.WaterDescription1)
    @Html.HiddenFor(model => model.WaterDescription2)
    @Html.HiddenFor(model => model.WaterLCDescription1)
    @Html.HiddenFor(model => model.WaterLCDescription2)
    @Html.HiddenFor(model => model.WaterLCNumber1)
    @Html.HiddenFor(model => model.WaterLCNumber2)
    @Html.HiddenFor(model => model.WaterLCValue1)
    @Html.HiddenFor(model => model.WaterLCValue2)
    @Html.HiddenFor(model => model.WaterNumber1)
    @Html.HiddenFor(model => model.WaterNumber2)
    @Html.HiddenFor(model => model.DeliveryCycleTime)
    @Html.HiddenFor(model => model.DeliveryCycleAmount)
    @Html.HiddenFor(model => model.ConstructionSiteTime)
    @Html.HiddenFor(model => model.DeliveryNoteTypeId)
    @Html.HiddenFor(model => model.RegistrationDate)
    @Html.HiddenFor(model => model.LocationId)
    @Html.HiddenFor(model => model.LocationDescription)
    @Html.HiddenFor(model => model.RecipeId)
    @Html.HiddenFor(model => model.MaterialId)
    @Html.HiddenFor(model => model.MinLot)
    @Html.HiddenFor(model => model.MaxLot)
    @Html.HiddenFor(model => model.LotCount)
    @Html.HiddenFor(model => model.LotWeight)
    @Html.HiddenFor(model => model.LotProcent)
    @Html.HiddenFor(model => model.NewOrderedQuantity)


    <div>Möchten sie den Auftrag "@Html.DisplayTextFor(model => model.OrderNumber)" wirklich stornieren?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}
