﻿@model List<PCMS.Areas.Order.Models.md_order_ContingentOrder>
@if (ViewBag.CompanyType == 1)
{
    foreach (var item in Model)
    {
        <table>
            <tr id="@item.Id">
                <td class="column-value3" isKey="false" columnName="OrderId" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.ContingentNumber)</td>
                <td class="column-value3" isKey="false" columnName="RecipeDescription" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.OrderedQuantity)</td>
                <td class="column-value3" isKey="false" columnName="LoadingTime" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.DeliveredQuantity)</td>
                <td class="column-value3" isKey="false" columnName="DistanceTime" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.RecipeDescription)</td>
                @if (item.State == 1)
                {
                    <td class="column-value3" isKey="false" columnName="State" style="background-color:cornflowerblue"><strong>In Bearbeitung</strong></td>
                }
                @if (item.State == 2)
                {
                    <td class="column-value3" isKey="false" columnName="State" style="background-color:orangered"><strong>Freigegeben</strong></td>
                }
                @if (item.State == 3)
                {
                    <td class="column-value3" isKey="false" columnName="State" style="background-color:lightgray"><strong>Gesperrt</strong></td>
                }
                @if (item.State == 4)
                {
                    <td class="column-value3" isKey="false" columnName="State" style="background-color:yellow"><strong>Storniert</strong></td>
                }
                <td isKey="false" columnName="DistanceTime" style="" tableName="md_order_LoadingOrder" onclick="location.href='@Url.Action("GenerateLoadingOrder" , "md_order_Order", new { Cid = item.ContingentNumber})'"><button class="btn btn-default">Produktionsauftrag</button></td>
            </tr>
        </table>
    }
}
else
{
    <table>
        @foreach (var item in Model)
        {
            <tr id="@item.Id">
                <td class="column-value" isKey="false" columnName="ContingentNumber" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.ContingentNumber)</td>
                <td class="column-value" isKey="false" columnName="LoadingTime" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.LoadingTime)</td>
                <td class="column-value" isKey="false" columnName="ConstructionSiteTime" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.ConstructionSiteTime)</td>
                <td class="column-value" isKey="false" columnName="CustomerName" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.CustomerName)</td>
                <td class="column-value" isKey="false" columnName="ConstructionSiteDescription" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.ConstructionSiteDescription)</td>
                <td class="column-value" isKey="false" columnName="OrderedQuantity" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.OrderedQuantity)</td>
                <td class="column-value" isKey="false" columnName="DeliveredQuantity" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.DeliveredQuantity)</td>
                <td class="column-value" isKey="false" columnName="RecipeDescription" style="" tableName="md_order_LoadingOrder">@Html.DisplayFor(modelItem => item.RecipeDescription)</td>
                <td isKey="false" columnName="DistanceTime" style="" tableName="md_order_LoadingOrder" onclick="location.href='@Url.Action("GenerateLoadingOrder", "md_order_Order", new { Cid = item.ContingentNumber })'"><button class="btn btn-default">Ladeauftrag</button></td>
                @if (item.State == 1)
                {
                    <td style="background-color:gray;" align="center" columnName="State" valign="middle"><strong>Gesperrt</strong></td>}
                @if (item.State == 2)
                {
                    <td style="background-color:cornflowerblue;" align="center" columnName="State" valign="middle"><strong>Freigegeben</strong></td>}
                @if (item.State == 3)
                {
                    <td style="background-color:yellow;" align="center" columnName="State" valign="middle"><strong>in Bearbeitung</strong></td>}
                @if (item.State == 4)
                {
                    <td style="background-color:lawngreen;" align="center" columnName="State" valign="middle"><strong>Beendet</strong></td>}
                @if (item.State == 5)
                {
                    <td style="background-color:orangered;" align="center" columnName="State" valign="middle"><strong>Storniert</strong></td>}

                
            </tr>
        }
    </table>
}