﻿@model PagedList.IPagedList<PCMS.Areas.LIMS.Models.lims_gradingCurv_GradingCurv>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Sieblinien";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}
<div class="tableContent" tablename="lims_gradingCurv_GradingCurv">
    <a class="btn btn-default" href="@Url.Action("Create","lims_gradingCurv_GradingCurv", new { area = "LIMS" })"><i class="fa fa-plus"></i> Neue Sieblinie</a>
    <a class="btn btn-default" href="@Url.Action("Index","lims_gradingCurv_GradingCurv", new { area = "LIMS" })"><i class="fa fa-refresh"></i> Neu laden</a>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
    <div style="overflow-x: auto;">
        <table class="table table-hover table-condensed" tablename="lims_gradingCurv_GradingCurv" editUrl="@Url.Action("Edit", "lims_gradingCurv_GradingCurv", new { area = "LIMS" })" deleteUrl="@Url.Action("Delete", "lims_gradingCurv_GradingCurv", new { area = "LIMS" })" detailsUrl="@Url.Action("Details", "lims_gradingCurv_GradingCurv", new { area = "LIMS" })">
            <thead>
                <tr class="caption">
                    @*<th editable="false" onclick="sort(this)" colName="Id" style="">
                        @Html.DisplayNameFor(model => model[0].Id)
                    </th>*@
                    <th editable="false" onclick="sort(this)" colName="ResciveGroupId" style="">
                        @Html.DisplayNameFor(model => model[0].ResciveGroupId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SieveLineNumber" style="">
                        @Html.DisplayNameFor(model => model[0].SieveLineNumber)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Description" style="">
                        @Html.DisplayNameFor(model => model[0].Description)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="SieveRangeId" style="">
                        @Html.DisplayNameFor(model => model[0].SieveRangeId)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="Price" style="">
                        @Html.DisplayNameFor(model => model[0].Price)
                    </th>
                    <th editable="false" onclick="sort(this)" colName="KValue" style="">
                        @Html.DisplayNameFor(model => model[0].KValue)
                    </th>
                </tr>
                <tr>
                    @*<th style="" class="head-filter" columnName="Id" tableName="lims_gradingCurv_GradingCurv">
                    </th>*@
                    <th style="" class="head-filter" columnName="ResciveGroupId" tableName="lims_gradingCurv_GradingCurv">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.ResciveGroupId" />
                    </th>
                    <th style="" class="head-filter" columnName="SieveLineNumber" tableName="lims_gradingCurv_GradingCurv">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.SieveLineNumber" />
                    </th>
                    <th style="" class="head-filter" columnName="Description" tableName="lims_gradingCurv_GradingCurv">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Description" />
                    </th>
                    <th style="" class="head-filter" columnName="SieveRangeId" tableName="lims_gradingCurv_GradingCurv">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.SieveRangeId" />
                    </th>
                    <th style="" class="head-filter" columnName="Price" tableName="lims_gradingCurv_GradingCurv">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.Price" />
                    </th>                    
                    <th style="" class="head-filter" columnName="KValue" tableName="lims_gradingCurv_GradingCurv">
                        <input class="head-filter-value form-control" placeholder="suchen" onkeydown="headFilterKeyDown(this)" type="text" value="@ViewBag.KValue" />
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="@item.Id">
                        @*<td class="column-value" isKey="true" columnName="Id" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>*@
                        <td class="column-value" isKey="false" columnName="ResciveGroupId" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.ResciveGroupId)
                        </td>
                        <td class="column-value" isKey="false" columnName="SieveLineNumber" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.SieveLineNumber)
                        </td>
                        <td class="column-value" isKey="false" columnName="Description" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td class="column-value" isKey="false" columnName="SieveRangeId" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.SieveRangeId)
                        </td>
                        <td class="column-value" isKey="false" columnName="Price" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>                       
                        <td class="column-value" isKey="false" columnName="KValue" style="" tableName="lims_gradingCurv_GradingCurv">
                            @Html.DisplayFor(modelItem => item.KValue)
                        </td>
                    </tr>
                }
            </tbody>
        </table>        
    </div>
    @Html.Partial("~/Views/Shared/Partial_Paging.cshtml", Model)
</div>