﻿@model PCMS.Areas.Admin.Models.aspNetUsers
@{
    ViewBag.Title = "Benutzer bearbeiten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Selectedfacility, "Selectedfacility", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Selectedfacility", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                @Html.ValidationMessageFor(model => model.Selectedfacility, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @*@Html.LabelFor(model => model.Selectedfacility, "Selectedfacility", htmlAttributes: new { @class = "control-label col-md-2" })*@
            <label class="control-label col-md-2" for="UserName">Benutzerrollen</label>
            <div class="col-md-10">
                <select name="UserRoles" style="width:200px" id="roleSelect" multiple="multiple">
                    @foreach (var i in ViewBag.roles)
                    {
                        <option @(i.Selected ? "selected" : "") value="@i.Value">@i.Text</option>
                    }
                </select>
                @*@Html.DropDownList("Selectedfacility", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.Selectedfacility, "", new { @class = "text-danger" })*@
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Facilities">Werke</label>
            <div class="col-md-10">
                @foreach (var ff in ViewBag.Selectedfacility)
                {
                    string che = "";
                    if (Model.Facilities.Any(a => a.Description == ff.Text))
                    {
                        che = "checked";
                    }
                    <label for="check+@ff.Text">
                        <input @che type="checkbox" name="Facilities" value="@ff.Value" id="check+@ff.Text">
                        @ff.Text
                    </label>

                }
            </div>
        </div>
        <div style="" class="form-group">
            <label class="control-label col-md-2" for="Signature1Id">Unterschrift Benutzer</label>
            <div class="col-md-9">
                <button id="sign" type="button" onclick="signed(1,1)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button id="unsign" type="button" onclick="unsigned()"><i class="fa fa-times" aria-hidden="true"></i></button>
                <img id="signature" class="signature1" style="display:none;height: 25px" href="" />
                @Html.HiddenFor(model => model.Sign)

            </div>
        </div>
        <div>
            <hr />
        </div>
        <div class="form-group">
            <label class="control-label col-md-2" for="Facilities">Password</label>
            <div class="col-md-10">
                <button type="button">zurücksetzen</button>
            </div>
        </div><div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Speichern" class="btn btn-default" />
            </div>
        </div>


    </div>
}
<div>
    @Html.ActionLink("Zurück zur Liste", "Index")
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var $eventSelect = $("#roleSelect").select2({
            //tags: true
        })
        //$eventSelect.on("select2:select", createRole(this));
        $eventSelect.on("select2:select", function (e) { createRole(e); });
        $eventSelect.on("select2:unselect", function (e) { deleteRole(e); });
        var id = $("#Id").val();
        var abs = 1;
        var sign = $("#Sign").val();
        if (sign != "") {
            $(".signature,.signature" + abs).attr("src", "/Admin/aspNetUsers/lastSignature/?rand=" + Math.random());
            $(".signature,.signature" + abs).show();
        }
        else
        {
            $(".signature,.signature" + abs).hide();
        }
    })
    function createRole(e) {
        var roleName = e.params.data.text;
        //var data["username"] = username;
        $.ajax({
            //url: '@Url.Action("CreateRole","aspNetRoles", new { area="Admin" })',
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: { roleName: roleName },
            success: function (data) {

            }
        });
    }
    function deleteRole(e) {
        var roleName = e.params.data.text;
        //var data["username"] = username;
        $.ajax({
            //url: '@Url.Action("DeleteRole", "aspNetRoles", new { area = "Admin" })',
            type: "POST",
            dataType: "text",
            dataType: "json",
            //contentType: 'application/json',
            data: { roleName: roleName },
            success: function (data) {

            }
        });
    }
    var checkIntervall;
    var sigNoG = 0;
    function signed(padNo, sigNo) {
        sigNoG = sigNo;
        var id = $("#Id").val();

        $.post("/Admin/aspNetUsers/sign", { padNo: padNo, id: id }, function (data) {
            if (data.status == true) {
                checkIntervall = setInterval(chekcState, 1000);
                $("#Signature" + sigNoG + "Id").parent().append('<p class="waitingText">Warte auf Unterschrift...</p>');
            }
            else {
                alert(data.error);
            }
        });
    }
    function chekcState(padNo) {
        $.ajax({
            method: "POST",
            url: "/Admin/aspNetUsers/checkState",
            data: { padNo: padNo },
            global: false
        })
            .success(function (data) {
                if ($("#modal").length == 0) {

                }
                if (data.status === 0) {
                    clearInterval(checkIntervall);
                    $(".signature,.signature" + sigNoG).attr("src", "/Admin/aspNetUsers/lastSignature/?rand=" + Math.random());
                    $(".signature,.signature" + sigNoG).show();
                    $(".waitingText").hide();
                    $("#Signature" + sigNoG + "Id").val(data.id);
                }
                console.log(data);
            });
    }
    function unsigned()
    {
        $.post("/Admin/aspNetUsers/unsigned", {}, function (data) {
            $(".signature,.signature1").hide();
        });
    }



</script>