﻿@model PCMS.Areas.Recipe.Models.md_recipe_Recipe
<div class="col-md-12">
    <div class="panel panel-default"  style="margin-bottom: 0px;">
        <div class="panel-heading" onclick="togglePanalBody(this)">
            <h3 class="panel-title">Prüfintervalle<i style="float:right" class="fa fa-chevron-up"></i></h3>
        </div>

        <div style="" class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" onclick="togglePanalBody(this)">
                            <h3 class="panel-title">Erstherstellung<i style="float:right" class="fa fa-chevron-up"></i></h3>
                        </div>
                        <div style="" class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3" >
                                    @Html.EditorFor(model => model.InitialProduction_0_Count, new { htmlAttributes = new { @class = "form-control" , @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.InitialProduction_0_Count, "", new { @class = "text-danger" })
                                </div>
                                
                                <label class="control-label col-md-4" for="MaterialWet">Probe(n) pro</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.InitialProduction_0_Val, new { htmlAttributes = new { @class = "form-control" ,@type="text" } })
                                    @Html.ValidationMessageFor(model => model.InitialProduction_0_Val, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-1" for="MaterialWet">m³</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.InitialProduction_1_Count, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.InitialProduction_1_Count, "", new { @class = "text-danger" })
                                </div>

                                <label class="control-label col-md-4" for="MaterialWet">Probe(n) pro</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.InitialProduction_1_Val, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.InitialProduction_1_Val, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2" for="MaterialWet">Prod. Tage</label>
                            </div>
                        </div>
                    </div>   
                </div>
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading" onclick="togglePanalBody(this)">
                            <h3 class="panel-title">stetige Herstellung<i style="float:right" class="fa fa-chevron-up"></i></h3>
                        </div>
                        <div style="" class="panel-body">
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.SteadyProduction_0_Count, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.SteadyProduction_0_Count, "", new { @class = "text-danger" })
                                </div>

                                <label class="control-label col-md-4" for="MaterialWet">Probe(n) pro</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.SteadyProduction_0_Val, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.SteadyProduction_0_Val, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-1" for="MaterialWet">m³</label>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.SteadyProduction_1_Count, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.SteadyProduction_1_Count, "", new { @class = "text-danger" })
                                </div>

                                <label class="control-label col-md-4" for="MaterialWet">Probe(n) pro</label>
                                <div class="col-md-3">
                                    @Html.EditorFor(model => model.SteadyProduction_1_Val, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.SteadyProduction_1_Val, "", new { @class = "text-danger" })
                                </div>
                                <label class="control-label col-md-2" for="MaterialWet">Prod. Tage</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">


            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default" >
                        <div class="panel-heading" onclick="togglePanalBody(this)">
                            <h3 class="panel-title">Festigkeit nach [N/mm²]:<i style="float:right" class="fa fa-chevron-up"></i></h3>
                        </div>
                        <div style="" class="panel-body">
                            <div class="form-group">   
                                @Html.LabelFor(model => model.StrengthAfter2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.StrengthAfter2, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StrengthAfter2, "", new { @class = "text-danger" })
                                </div> 
                                @Html.LabelFor(model => model.StrengthAfter7, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.StrengthAfter7, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StrengthAfter7, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.StrengthAfter28, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.StrengthAfter28, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StrengthAfter28, "", new { @class = "text-danger" })
                                </div>                                             
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.StrengthAfter56, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.StrengthAfter56, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StrengthAfter56, "", new { @class = "text-danger" })
                                </div>
                                @Html.LabelFor(model => model.StrengthAfter90, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-2">
                                    @Html.EditorFor(model => model.StrengthAfter90, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.StrengthAfter90, "", new { @class = "text-danger" })
                                </div>
                                                            
                            </div>
                        </div>
                    </div>

        </div>
    </div>
</div>