﻿@model PCMS.Areas.MasterData.Models.MasterDataContactView
@{
    ViewBag.Title = "Lieferant löschen?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Request.IsAjaxRequest())
    {
        Layout = null;
    }
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.customer.Id)
    @Html.HiddenFor(model => model.customer.AddressId)
    @Html.HiddenFor(model => model.customer.ContactId)
    @Html.HiddenFor(model => model.customer.CustomerId)
    @Html.HiddenFor(model => model.customer.CustomerIdEDV)
    @Html.HiddenFor(model => model.customer.CustomerRatingId)
    @Html.HiddenFor(model => model.customer.Name)
    @Html.HiddenFor(model => model.customer.TraderId)

    <div>Möchten sie den Kunden "@Html.DisplayTextFor(model => model.customer.Name)" wirklich löschen?</div>
    <div><hr /></div>
    <div class="form-actions no-color">
        <input type="button" onclick="location.href=''" value="Zurück zur Liste" class="btn btn-default" /> |
        <input type="submit" value="Löschen" class="btn btn-default" />
    </div>
}